<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        
		<!-- OpenGraph -->
		<meta name="og_title" property="og:title" content="I just sung a song in TSM app!"/>
		<meta name="og_description" property="og:description" content="Checkout my recording!. Just download the Learn to Sing App and sing a song."/>
        <meta property="og:image" content="http://dkuaar5tiw3cw.cloudfront.net/contest/images/5a264345bbe1013b2add2e53_share.jpg"/>
        <meta property="og:url" content="{{.ShareUrl}}"/>
        <meta property="og:site_name" content="Trueschool"/>

        <meta name='twitter:card' content="summary_large_image">
        <meta name='twitter:title' content="I just sung a song in TSM app!">
        <meta name='twitter:description' content="Checkout my recording!. Just download the Learn to Sing App and sing a song.">
        <meta name="twitter:image" content="http://dkuaar5tiw3cw.cloudfront.net/contest/images/5a264345bbe1013b2add2e53_share.jpg"/>

		
		<meta name="apple-itunes-app" content="app-id=1240933373, app-argument={{.ShareUrl}}">

		<meta name="google-play-app" content="app-id=com.sensibol.tsm">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script type="text/javascript">
		
			function getMobileOperatingSystem() {
			  var userAgent = navigator.userAgent || navigator.vendor || window.opera;
			
			      // Windows Phone must come first because its UA also contains "Android"
			    if (/windows phone/i.test(userAgent)) {
			        return "Windows Phone";
			    }
			
			    if (/android/i.test(userAgent)) {
			        return "Android";
			    }
			
			    // iOS detection from: http://stackoverflow.com/a/9039885/177710
			    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
			        return "iOS";
			    }
			
			    return "unknown";
			}
			
			var os = getMobileOperatingSystem();
			var playStoreUrl = "https://play.google.com/store/apps/details?id=com.sensibol.tsm&hl=en_US";
			
			openApp  = function(){
				window.location = "tsm://v6.0/watch/topten/attempturl/5b8292d0d447d62de07926ce";
				
				setTimeout(function() {
					switch (os){
							case "Android":
								window.location = playStoreUrl;
								break;
							case "iOS":
								window.location = "https://itunes.apple.com/in/app/learn-to-sing-true-school/id1240933373?mt=8";
								break;
							default: 
								document.getElementById("downloadbanner").style.visibility = "visible";
								document.getElementById("openinapp").style.display = "none";
					}
				}, 500);
			};
	
			window.onload = function() {
				var	attemptId = window.location.pathname.substr(window.location.pathname.lastIndexOf('/') + 1)
				if (attemptId.length > 0){
					var ref = {
						view_type: "watch",
						reference_id: attemptId,
					}
					playStoreUrl = playStoreUrl + "referrer="+JSON.stringify(ref);
					document.getElementById("downloadbanner-android").href = playStoreUrl;
				}
				
				setTimeout(function() {
					switch (os){
						case "Android":
                			window.location = "tsm://v6.0/topten/attempt/attempturl/" + attemptId;
							document.getElementById("openinapp").style.visibility = "visible";
							// Deep link to your app goes here
							break;
						case "iOS":
							document.getElementById("openinapp").style.visibility = "visible";
							break;
						default:
							document.getElementById("downloadbanner").style.visibility = "visible";
							document.getElementById("openinapp").style.display = "none";
					}
				}, 500);
            };
        </script>
    </head>
    <body>
		<iframe id="l" width="1" height="1" style="visibility:hidden"></iframe>
		<form id="openinapp" action="javascript:openApp()" style="visibility:hidden">
        	This feature is only available in app. <input type="submit" value="Open In App" />
    	</form>
		
		
		<div id="downloadbanner" style="visibility:hidden">
			<div>
				This feature is only available in app. Download Now 
			</div>
			<a id="downloadbanner-android" href="https://play.google.com/store/apps/details?id=com.sensibol.tsm&hl=en_US"><img alt='Get it on Google Play' style="background:transparent;border:1px solid white;border-radius:6px;box-sizing:border-box;height:40px;width:135px" src='https://play.google.com/intl/en_us/badges/images/badge_new.png'/></a>
			<a href="https://itunes.apple.com/in/app/learn-to-sing-true-school/id1240933373?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2017-10-21&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
		</div>
    </body>
</html>